body {
  background-color: black;
  font-family: Helvetica, Times New Roman, Arial;
}

h1 {
  text-align: center;
  color: blue;
}

h2 {
  text-align: center;
  color: ffffff;
}

p {
  text-align: center;
  color: ffffff;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #0000FF;
  color: white;
}

