body {
  background-color: black;
  font-family: Helvetica, Times New Roman, Arial;
}

h1 {
  text-align: center;
  color: lightblue;
}

h2 {
  text-align: center;
  color: white;
}

p {
  text-align: center;
  color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
